Repository BF-FrontEnd-class-2025/group-4-all-about-trees, pull requests merged in 2025-01, with the labels that each got.

#4 Edit project README.md
  README.md
Labels: md, planning

#7 Added communication plan / corrected constrains / added new words
  .cspell.json
  planning/communication.md
  planning/constraints.md
Labels: md, planning, json

#10 add user-persons
  planning/user-personas.md
Labels: md, planning

#12 Added backlog.md
  planning/backlog.md
Labels: md, planning

#14 added project design
  planning/design.md
  planning/design.png
Labels: md, planning, image

#16 add development strategy
  planning/development-strategy.md
Labels: md, planning

#17 updated planning
  planning/backlog.md
  planning/communication.md
  planning/constraints.md
  planning/design.md
  planning/development-strategy.md
  planning/user-personas.md
Labels: md, planning

#20 update planning 2
  planning/backlog.md
  planning/communication.md
  planning/development-strategy.md
Labels: md, planning

#33 developed navigation bar
  index.html
  planning/backlog.md
  styles/something.css
Labels: HTML, CSS

#34 develop main section
  index.html
  styles/something.css
Labels: HTML, CSS

#35 developed side bar
  index.html
  styles/something.css
Labels: HTML, CSS

#36 developed links
  index.html
  styles/something.css
Labels: HTML, CSS

#38 develop footer
  .cspell.json
  README.md
  index.html
  styles/something.css
Labels: HTML, CSS, json

#40 Update README.md
  README.md
Labels: md
